<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>747630800920-sih6v0t7e09k5h5jhp3o30pcj0l40jht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747630800920-sih6v0t7e09k5h5jhp3o30pcj0l40jht</string>
	<key>API_KEY</key>
	<string>AIzaSyDbbYK2-b_pNhFNjjOiL1YF_n_ak5xBGr0</string>
	<key>GCM_SENDER_ID</key>
	<string>747630800920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phdang.Splash</string>
	<key>PROJECT_ID</key>
	<string>splash-2f8bc</string>
	<key>STORAGE_BUCKET</key>
	<string>splash-2f8bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747630800920:ios:f409e3862d56db83</string>
	<key>DATABASE_URL</key>
	<string>https://splash-2f8bc.firebaseio.com</string>
</dict>
</plist>